<div class="d-flex align-items-center justify-content-center" style="height: 83vh;">

    <div class="card shadow-lg border-0 rounded-3 animate__animated animate__fadeIn" style="width: 400px;">
        <div class="card-body p-4">
            <h3 class="text-center mb-4">AlgoSuite</h3>
            <ul class="nav nav-pills nav-fill mb-4" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button (click)="isLoginMode = true" class="nav-link active rounded-pill text-muted" id="login-tab" data-bs-toggle="tab" 
                        data-bs-target="#login"  type="button" role="tab">Login</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button (click)="isLoginMode = false" class="nav-link rounded-pill text-muted" id="signup-tab" data-bs-toggle="tab" 
                        data-bs-target="#signup" type="button" role="tab">Signup</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    {{error}}
                  </div>
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    
                        <div class="mb-4">
                            <label for="loginEmail" class="form-label">Email address</label>
                            <input type="email"  formControlName="email"  class="form-control form-control-lg" id="loginEmail" required>
                            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                                <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
                                <small *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
                              </div>
                        </div>
                        <div class="mb-4">
                            <label for="loginPassword" class="form-label">Password</label>
                            <input type="password"  formControlName="password" class="form-control form-control-lg" id="loginPassword" required>
                            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                                <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
                              </div>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn bg-dark text-white btn-lg">Login</button>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="signup" role="tabpanel">
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"  >
                        <div class="mb-4">
                            <label for="signupName" class="form-label">Full Name</label>
                            <input type="text"  formControlName="name" class="form-control form-control-lg" id="signupName" required>
                            <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched" class="text-danger">
                                <small *ngIf="signupForm.get('name')?.errors?.['required']">Email is required.</small>
                              </div>
                        </div>
                        <div class="mb-4">
                            <label for="signupEmail" class="form-label">Email address</label>
                            <input type="email"  formControlName="email" class="form-control form-control-lg" id="signupEmail" required>
                            <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-danger">
                                <small *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</small>
                                <small *ngIf="signupForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
                              </div>
                        </div>
                        <div class="mb-4">
                            <label for="signupPassword" class="form-label">Password</label>
                            <input type="password"  formControlName="password" class="form-control form-control-lg" id="signupPassword" required>
                            <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger">
                                <small *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</small>
                                <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</small>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn bg-dark text-white btn-lg">Signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast position="top-right"></p-toast>