<div class="container   py-4"  style="min-height: 83vh;">
  <h1 class="mb-3 animate__animated animate__fadeInLeft">Welcome, {{name}}</h1>
  <p class="lead animate__animated animate__fadeInLeft">Explore these features:</p>
  <hr>
  <div class="row">
    <div class="col-md-6 mb-4 animate__animated animate__fadeIn">
      <div class="card text-center h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-code mr-2"></i>String Analysis</h5>
          <p class="card-text">Analyze strings and find substrings and the longest substring.</p>
          <a  (click)="goToStringAnalysis()" class="btn btn-primary">Go to String Analysis</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4 animate__animated animate__fadeIn">
      <div class="card text-center h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-project-diagram mr-2"></i>Binary Tree Visualization</h5>
          <p class="card-text">Visualize a binary tree and calculate the maximum sum.</p>
          <a (click)="goToTreeVisualizer()" class="btn btn-primary">Go to Binary Tree</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center animate__animated animate__fadeIn mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-keyboard mr-2"></i>Shortcuts</h5>
          <p class="card-text">View a list of available shortcuts.</p>
          <a href="/shortcuts" class="btn btn-primary">Go to Shortcuts</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4 animate__animated animate__fadeIn ">
      <div class="card text-center h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-book mr-2"></i>Documentation</h5>
          <p class="card-text">Read the documentation for the previous features.</p>
          <a href="/docs" class="btn btn-primary">Go to Documentation</a>
        </div>
      </div>
    </div>
  </div>
</div>