<div class="container mt-5" style="min-height: 80vh;">
    <div class="d-flex align-items-center card-header animate__animated animate__fadeInLeft">
        <div class=" py-4">
          <h1 class="mb-0">Shortcuts</h1>
        </div>
        <button (click)="goBack()" class="btn btn-outline-dark btn-sm me-3 ml-auto" >
          <i class="fas fa-arrow-left me-2"></i>Back
        </button>
      </div>
    
    <div class="card mb-4 animate__animated animate__fadeInLeft ">
        <div class="card-header">
            String Analyzer Page
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Keys</th>
                        <th>Action</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><kbd>Ctrl + X</kbd></td>
                        <td>Reset Analysis</td>
                        <td>Resets all current analysis data</td>
                    </tr>
                    <tr>
                        <td><kbd>Ctrl + B</kbd></td>
                        <td>Go Back</td>
                        <td>Navigates to the previous page</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card animate__animated animate__fadeInLeft">
        <div class="card-header">
            Tree Page
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Keys</th>
                        <th>Action</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><kbd>Ctrl + R</kbd></td>
                        <td>Reset Tree</td>
                        <td>Resets the current tree structure</td>
                    </tr>
                    <tr>
                        <td><kbd>Ctrl + B</kbd></td>
                        <td>Go Back</td>
                        <td>Navigates to the previous page</td>
                    </tr>
                    <tr>
                        <td><kbd>Ctrl + Q</kbd></td>
                        <td>Generate Tree</td>
                        <td>Opens A Modal To Generate Tree</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>